* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10% 0;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
  text-align: center;
  min-width: 200px;
  max-width: 300px;

}

.qrImage {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: larger;
}

p{
  color: hsl(220, 15%, 55%);
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  min-width: 200px;
  margin: 0 auto;
  padding: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;

}

a:focus, a:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
}


